@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/SourceSansPro-Regular.ttf') format('opentype');
}

@mixin sans($size, $weight) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight: $weight;
}
