@import 'variables.scss';
@import 'fonts.scss';
@import 'base.scss';
@import 'header.scss';
@import 'footer.scss';
@import './pages/homepage.scss';
@import './pages/contact.scss';
@import './pages/services.scss';
@import './pages/gallery.scss';
@import 'responsive.scss';

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

