@media only screen and (max-width: 414px) {
  header .header__main--title .main {
    font-size: 3rem;
  }

  .homepage__main--work__wrapper {
    margin-top: 2rem;
    .card {
      display: none;
    }

    .photo-list {
      flex-direction: column!important;

      img {
        margin-left: 0;
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 687px) {
  .footer-second {
    justify-content: center !important;
    ul {
      display: none;
    }
  }

  #contact p {
    padding: 0 2rem;
  }

  #contact .contact {
    padding: 3rem 0;

    &__form {
      max-width: 50%;
    }
  }

  #contact .contact__form #submit {
    width: 100%;
  }

  .services {
    padding-top: 0!important;
  }
  .services__row {
    flex-direction: column;

    .item {
      margin-top: 3rem;
    }
  }
}

@media only screen and (min-width: 901px) {
  #myNav {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .column {
    min-width: 250px !important;
  }

  .footer-second {
    padding: 0 8vw !important;
  }

  .hamburger {
    float: right;
    display: block !important;
    padding: 12px;
    position: relative;
    zoom: 185%;
  }

  ul {
    display: none !important;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger-wrapper {
    position: fixed;
    right: 10px;
    top: 10px;
  }

  .homepage__main--intro, .homepage__main--work  {
    padding-top: 4rem
  }

  .homepage__main--work {
    margin-top: 4rem;
  }


  .homepage__main--about {
    flex-direction: column;
    margin-top: 5rem;

    &__wrapper {
      margin-bottom: 2rem;

      h3 {
        justify-content: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .homepage__main--work__wrapper .card__text {
    padding: 0.7rem;
  }

  .card__text--small {
    margin-top: 8px;
  }


  .homepage__main--intro__title {
    padding: 0;
  }

  .homepage__main--workWithUs  {
    padding: 3rem 10vw;
  }

  header .header__main--title .second {
    padding: 0 1em
  }

  .ml-14 {
    margin-left: 0;
  }

  body,
  html {
    font-size: 14px;
  }

  header nav ul {
    padding: 0px;
    flex-direction: column;

    li:last-child,
    img:nth-child(1) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .footer {
    flex-direction: column !important;
    padding-top: 3rem!important;

    .socials {
      width: 100%;
    }

    .column {
      margin-bottom: 1rem !important;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    h3 {
      margin-top: 2rem !important;
      text-align: center;
      position: relative;

      &:after {
        width: 90% !important;
        position: absolute;
        left: 5%;
        margin-bottom: 8px;
      }
    }

    p {
      padding-right: 0px !important;
      max-width: 90%;
      margin-left: 5%;
      margin-top: 1rem;
    }

    .icons {
      max-width: 90%;
      margin-left: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  header .socials {
    padding: 1vh $layout_padding_middle;
  }

  header nav ul {
    font-size: 0.8rem;

    img {
      margin-right: 1rem !important;
    }
  }

  p {
    line-height: 1.425rem;
  }

  .footer {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 1200px) {
  body,
  html {
    font-size: 16px;
  }

  p {
    line-height: 1.725rem;
  }
}
