#gallery {
  background-color: $light-grey;
  padding-bottom: 8rem;
  h2 {
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 7rem;
    margin-top: 0px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  button {
    margin-top: 2.75rem;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: auto;
  width: 100%;
  padding: 0 4rem;

  &--category {
    padding: 6rem 4rem;
  }

  &__item {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../img/drevostavby/PB104178.webp");
    flex-grow: 1;
    min-height: 300px;
    width: auto;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 1rem;

    &--rekonstrukce {
      flex-grow: 1 !important;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../img/rekonstrukce/svedsko/P5312794.webp");

      &:nth-child(2n) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../img/rekonstrukce/zubri/PB054138.webp")!important;
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      color: white;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      @include sans(2rem, 800);
    }

    &:hover {
      transform: scale(1.04);
      cursor: pointer;
    }
  }
  div:nth-child(even) {
    flex-grow: 2;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/strechy/img203.webp");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
  }

  &--second {
    div {
      flex-grow: 2;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/header/2.webp");
    }
    div:nth-child(even) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../img/rekonstrukce/svedsko/P5312794.webp");
      flex-grow: 1;
    }
  }
}

.gallery-item {
  height: 200px;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.vgs__gallery__container {
  flex-direction: row !important;
  justify-content: center !important;
  background: none !important;
}

.vgs__gallery {
  bottom: 125px !important;
}

.back-button {
  margin-top: 1rem;
  flex-basis: 100%;
  background: none !important;

  button {
    margin: unset !important;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    img {
      width: 20%;
      margin-right: 1rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.vgs {
  position: fixed !important;
  background-image: none !important;
}
